h1 {
    background-color: #a6e3a1;
    margin: 12px;
    padding: 12px;
    color: #4d4c4c;
    border-radius: 12px;
    text-align: center;
}

h2 {
    background-color: #a6e3a1;
    color: #4e4e4e;
    border-radius: 12px;
    padding: 3px;
    border: outset;
    display: inline-block;
    font-family: cursive;
}

h3 {
    background-color: #a6e3a1;
    color: #4e4e4e;
    border-radius: 12px;
    padding: 3px;
    border: outset;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}

h4 {
    background-color: #a6e3a1;
    color: #4e4e4e;
    border-radius: 12px;
    padding: 3px;
    border: outset;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    border-radius: 12px;
    padding: 60px;
}

body{
    background-color: #bbbbbb;
}